.toggle-container {
  display: inline-block;
  margin-top: 20px;
}

.toggle-container label {
  position: relative;
  display: inline-block;
  margin-right: 10px;
}

.toggle-container input[type="checkbox"] {
  display: none;
}

.slider {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  background-color: #ccc;
  border-radius: 17px;
  transition: background-color 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.color-changing-div {
  padding: 10px;
  margin-top: 20px;
  color: black;
}

